* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}
.landing-btn-create {
  align-items: center;
  background-color: #415986;
  box-shadow: 2px 5px 5px 0.9px #151742;
  display: flex;
  font-family: Bitter, serif;
  font-weight: bolder;
  justify-content: center;
  opacity: 70%;
  padding: 10px;
}
.container {
  background-color: #edb3d7;
  min-height: 100vh;
  padding: 20px 30px 30px;
}
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: 80px 1fr;
    padding: 10px 20px 20px;
  }
}
.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header {
    height: 100px;
    padding: 0 20px 10px;
  }
}
.logo {
  margin-bottom: 90px;
  width: 100px;
}
@media (min-width: 768px) {
  .logo {
    margin-bottom: 90px;
    margin-top: 60px;
  }
}
.logo-fop {
  display: flex;
  height: 110px;
  margin-top: 20px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  width: 200px;
}
.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
  }
}
.mainDetail {
  align-items: center;
  display: flex;
  justify-content: center;
}
.preview {
  margin-top: 20px;
  margin: auto;
}
@media (min-width: 768px) {
  .preview {
    margin-top: 0;
    padding: 0 20px;
    width: 60%;
  }
}
.preview-image {
  border-radius: 20px;
  margin-bottom: 20px;
  max-height: 700px;
  min-height: 50%;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .preview-image {
    margin-top: 30px;
    max-width: 100%;
  }
}
.card {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  color: #3e3e3e;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  margin: auto;
  max-height: 350px;
  min-height: 245px;
  padding: 10px;
  -webkit-transform: translateY(-75px);
  transform: translateY(-75px);
  width: 90%;
}
@media (min-width: 768px) {
  .card {
    gap: 20px;
    max-height: 400px;
    max-width: 550px;
    padding: 20px;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
.card-line {
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    rgba(1, 1, 1, 0.75),
    hsla(0, 0%, 100%, 0)
  );
  border: 0;
  height: 1px;
  margin-bottom: 12px;
  width: 100%;
}
.autor-info {
  margin-top: 10px;
  text-align: center;
  width: 40%;
  z-index: 1;
}
.autor-image {
  border-radius: 5%;
  margin: auto;
  min-width: 120px;
  object-fit: cover;
  width: 70%;
}
@media (min-width: 768px) {
  .autor-image {
    width: 85%;
  }
}
.autor-job {
  color: #909090;
  font-size: 14px;
}
@media (min-width: 768px) {
  .autor-job {
    font-size: 16px;
  }
}
.autor-name {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .autor-name {
    font-size: 18px;
  }
}
.project-info {
  width: 60%;
  z-index: 1;
}
.project-subtitle {
  font-size: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .project-subtitle {
    font-size: 18px;
  }
}
.project-title {
  color: #000;
  font-size: 16px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .project-title {
    font-size: 20px;
  }
}
.project-slogan {
  font-size: 14px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .project-slogan {
    font-size: 16px;
  }
}
.project-desc {
  font-size: 13px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .project-desc {
    font-size: 15px;
  }
}
.project-technologies {
  background-color: #d3d3d3;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px;
  width: 70%;
}
.project-technologies .text {
  display: flex;
  font-family: Bitter, serif;
  font-size: 15px;
  font-weight: bolder;
  justify-content: center;
}
.form {
  background-color: #304f88;
  border-radius: 20px;
  margin-top: 10px;
  padding: 35px 30px;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .form {
    height: 100%;
    margin-top: 0;
    padding: 25px 30px;
    width: 40%;
  }
}
.form-title {
  color: #fff;
  font-family: Lobster, cursive;
  font-size: 30px;
  text-align: center;
}
.form-label {
  display: flex;
  flex-direction: column;
  font-family: Bitter, serif;
  padding: 5px;
}
.autor-fieldset,
.project-fieldset {
  border: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}
.legend {
  color: #fff;
  padding: 20px;
  text-align: center;
}
.legend-text {
  font-family: Bitter, serif;
  padding-bottom: 10px;
}
.legend-line {
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.75),
    hsla(0, 0%, 100%, 0)
  );
  border: 0;
  height: 1px;
  width: 100%;
}
.input,
.textarea {
  background-color: initial;
  border-color: #fff;
  border-radius: 40px;
  color: #fff;
  height: 40px;
  margin: 5px;
  padding-left: 15px;
}
.ld-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: start;
}
.ld-form-label-filter {
  color: #415986;
  font-family: Bitter, serif;
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 1em 0.5em;
}
.ld-form-input-filter {
  border-radius: 20px;
  height: 1.5rem;
  margin: 0 1.8rem 0 0;
  width: 19rem;
}
.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #fff;
}
.input::placeholder,
.textarea::placeholder {
  color: #fff;
}
.textarea {
  border-radius: 25px;
  height: 110px;
  padding-top: 17px;
}
.error-message {
  color: #fff;
  display: none;
  padding-left: 15px;
}
.error-message-display {
  display: block;
}
.buttons-img {
  justify-content: space-around;
  margin-top: 20px;
}
.btn,
.btn-large,
.buttons-img {
  align-items: center;
  display: flex;
  text-align: center;
}
.btn,
.btn-large {
  background: linear-gradient(90deg, #f2b9ec -1.57%, #eba6ec 98.43%);
  border: 2px solid #f4cbf4;
  border-radius: 40px;
  box-shadow: 5px 5px 5px 0.9px #151742;
  color: #2d5786;
  cursor: pointer;
  height: 50px;
  height: 43px;
  justify-content: center;
  margin: 20px 5px 5px;
  padding: 15px;
  width: 160px;
}
.btn-label {
  cursor: pointer;
  font-size: 15px;
}
.btn-label,
.btn-large {
  font-family: Bitter, serif;
  font-weight: bolder;
}
.btn-large {
  box-shadow: 2px 5px 5px 0.9px #151742;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 200px;
}
.btn-reset-inputs {
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 17px;
  padding: 12px;
  position: absolute;
  right: 25px;
  top: 20px;
}
.btn-reset-cards {
  background-color: #eb7ea0;
  border: 2px solid #eba6ec;
  border-radius: 40px;
  box-shadow: 2px 5px 4px #000;
  color: #000;
  cursor: pointer;
  font-family: Bitter, serif;
  font-size: 15px;
  font-weight: bolder;
  height: 50px;
  margin: 20px;
  padding: 5px 15px;
  text-align: center;
  width: 150px;
}
@media (min-width: 768px) {
  .btn-reset-cards {
    padding: 5px 10px;
  }
}
.message-create-card {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  text-align: center;
}
.url {
  word-wrap: break-word;
  color: #c0b7e8;
  cursor: pointer;
  width: 240px;
}
.info-create {
  font-size: 20px;
  padding: 20px;
}
.hidden {
  display: none;
}
.link {
  text-decoration: none;
}
.landing {
  flex-direction: column;
}
.landing,
.landing-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}
.landing-buttons {
  flex-direction: row;
}
.landing-title {
  margin: 30px;
}
.landing-title,
.landing-title2 {
  align-items: center;
  background-color: #415986;
  border-radius: 20px;
  box-shadow: 2px 5px 4px #000;
  color: #fff;
  display: flex;
  font-family: Bitter, serif;
  font-weight: bolder;
  height: 60px;
  justify-content: center;
  opacity: 80%;
}
.landing-title2 {
  margin: 30px auto auto;
  width: 600px;
}
.landing-subtitle {
  border-bottom: 1px solid #415986;
  color: #fff;
  color: #415986;
  font-family: Bitter, serif;
  font-size: 18px;
  font-weight: lighter;
  justify-content: center;
  text-align: center;
}
.landing-subtitle,
.landing-ul {
  align-items: center;
  display: flex;
}
.landing-ul {
  flex-direction: column;
  list-style: none;
}
@media (min-width: 1030px) {
  .landing-ul {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
.landing-card {
  align-items: center;
  border-radius: 20px;
  color: #3e3e3e;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  margin: 20px;
  max-height: 300px;
  min-height: 245px;
  min-width: 455px;
  padding: 10px;
  position: relative;
  width: 85%;
}
@media (min-width: 768px) {
  .landing-card {
    gap: 20px;
    max-height: 340px;
    max-width: 550px;
    padding: 20px;
  }
}
.landing-card-background {
  background-size: cover;
  border-radius: 20px;
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.landing-card-line {
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    rgba(1, 1, 1, 0.75),
    hsla(0, 0%, 100%, 0)
  );
  border: 0;
  height: 1px;
  margin-bottom: 12px;
  width: 100%;
}
.tech-icons {
  align-items: center;
  justify-content: space-between;
}
.section-icons,
.tech-icons {
  display: flex;
}
.icons {
  color: #000;
  font-size: 20px;
  margin: 5px;
}
@media (min-width: 768px) {
  .icons {
    font-size: 25px;
  }
}
.btn-remove-card {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
}
.icon-fav {
  color: #000;
  font-size: 20px;
}
@media (min-width: 768px) {
  .icon-fav {
    font-size: 25px;
  }
}
.btn-fav {
  background: transparent;
  border: none;
  left: 8px;
  position: absolute;
  top: 8px;
  z-index: 1;
}
